MVVM.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
MVVM.xcodeproj/project.xcworkspace/xcuserdata/georg.xcuserdatad/UserInterfaceState.xcuserstate
MVVM.xcodeproj/project.xcworkspace/contents.xcworkspacedata
MVVM.xcodeproj/xcuserdata/georg.xcuserdatad/xcschemes/xcschememanagement.plist
.DS_Store
